body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    display: flex;
    flex: 0;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

.header h2 {
    font-size: 24px;
    color: #F9FAF8;
}

main {
    flex: 1;
}

.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
    height: 400px;
}

.welcome {
    width: 500px;
    flex-wrap: wrap;
}

.title {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

.welcome button {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    border-color: white;
    cursor: pointer;
}

.welcome p {
    font-size: 18px;
    color: #E5E7EB;
}

.placeholder {
    height: 300px;
    width: 600px;
    background-color: black;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.info-title {
    font-size: 30px;
    font-weight: 1000;
    color: #1F2937;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image-set {
    display: flex;
    gap: 30px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards p {
    flex-wrap: wrap;
    width: 200px;
    text-align: center;
    color: #1F2937;
}

.information img {
    height: 250px;
    width: 250px;
    background-color: #1F2937;
}

.quote {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote h1 {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
}

.quote h3 {
    margin-left: 200px;
}

.cta {
    display: flex;
    height: 400px;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
}

.cta-container {
    display: flex;
    width: 800px;
    height: 200px;
    background-color: rgb(61, 126, 201);
    justify-content: space-around;
    align-items: center;
    border-radius: 6%;
}

.cta-text {
    color: #F9FAF8;
    font-weight: lighter;
    line-height: 0%;
}

.cta-text h4 {
    font-size: 24px;
}

.cta button {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid white;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    border-color: white;
    cursor: pointer;
}

button:hover {
    background-color: #F9FAF8;
    color: #1F2937;
}

footer {
    padding: 10px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
}


ul {
    display: flex;
    gap: 15px;
}

li {
    list-style-type: none;
}